body {
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Poppins', 'Arial', sans-serif;
}

.header-box {
    background-color: lightskyblue;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 5px 5px lightslategray;
}

img {
    padding: 10px;
    border-radius: 15px 15px 15px 15px;
    display: border;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    color: darkmagenta;
    margin-top: 5px;
    padding-left: 10px;
}

h2 {
    color: dodgerblue;
    padding-left: 10px;
    font-weight: bold;
    border-bottom: 3px solid darkmagenta;
}

footer {
    background-color: lightskyblue;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 5px 5px lightslategray;
}

p {
    color: darkmagenta;
    font-size: 16px;
    text-align: center;
    margin-bottom: -10px;
}

.updated {
    font-style: italic;
    font-weight: bold;
    color: darkgreen;
    font-size: smaller;
}