body {
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Poppins', 'Arial', sans-serif;
}

.header-box {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: lightskyblue;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 5px 5px lightslategray;
}

img {
    grid-column: 1 / 2;
    max-width: 200px;
    align-self: center;
    padding: 10px;
    border-radius: 15px 15px 15px 15px;
}

h1 {
    grid-column: 2 / 3;
    color: darkmagenta;
    text-align: center;
    align-self: center;
}

h2 {
    color: dodgerblue;
    padding-left: 10px;
    font-weight: bold;
    border-bottom: 3px solid darkmagenta;
}

footer {
    background-color: lightskyblue;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 5px 5px lightslategray;
}

p {
    color: darkmagenta;
    font-size: 16px;
    text-align: center;
    margin-bottom: -10px;
}

.updated {
    font-style: italic;
    color: darkolivegreen;
    font-size: smaller;
}

@media screen and (max-width: 600px) {
    .header-box {
      display: block;
    }
  }