/* ----Fonts----*/
/* 
font-family: 'Raleway', 'Tahoma', sans-serif; HEADINGS
font-family: 'Karla', 'Arial', sans-serif; PARAGRAPH
*/

/*-----Colors-----*/
/* 
Space Cadet (darkBlue): #273654
Snow (white): #F7F0F0
Air Superiority Blue (lightBlue): #6CA6C1
Blood Red (darkRed): #6B0504
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    background-color: #6CA6C1;
    font-family: 'Karla', 'Arial', sans-serif;
}

header, footer {
    background-color: #273654;
}

/* ----Header---- */
div.header-top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

div.header-top-section figure img{
    width: 100%;
    max-width: 150px;
    padding: 0.5rem;
}

div.social {
    padding: 0.5rem;
}

div.social a img {
    height: 50px;
}

nav {
    background-color: #6B0504;
    text-align: center;
    font-weight: bold;
    max-width: 500px;
    margin: 0 auto;
    position: absolute;
    top: 30px;
    right: 200px;
    z-index: 2;
}

nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    color: #F7F0F0;
    display: block;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.5em;
}

nav ul li a:visited {
    color:#6CA6C1;
}

nav ul li a:hover {
    background-color: #273654;
    color: #F7F0F0;
    cursor: pointer;
}

nav ul li a:active {
    color: #F7F0F0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

header div.hidden {
    display: none;
}

/* ----Main---- */
h1, h2, h3 {
    font-family: 'Raleway', 'Tahoma', sans-serif;
    color: #F7F0F0;
    padding: 0.5em;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #273654
}

h2 {
    font-size: 2em;
    color: #273654;
}

h3 {
    font-size: 1.5em;
}

p {
    color: #F7F0F0;
    padding: 0.25rem;
    text-align: center;
}

/* ----Banner---- */
div.banner {
    position: relative;
}

div.banner picture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 520px;
}

div.banner form {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

div.banner form button {
    border: 3px solid #F7F0F0;
    background-color: #273654;
    color: #F7F0F0;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 100%;
    max-width: 9rem;
}

/* ----Under Banner------ */
section.container {
    background-color: #6B0504;
    box-shadow: 5px 5px 8px black;
    margin: 0.5em;
    border:3px solid #273654;
}

section.container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #F7F0F0;
    box-shadow: 5px 5px 8px black;
}

section.spotlight-temple, section.spotlight-hotel,
section.forcast section {
    background-color: #273654;
    box-shadow: 5px 5px 8px black;
    margin: 0.5em;
    border:3px solid #6CA6C1;
}

section.weather {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* weather title change */
section.resizing h3:nth-child(1){
    font-size: 2.5rem;
}

section.resizing section.weather h3 {
    font-size: 1.5rem;
}

/* ----Footer----- */
div.footer-top-section div p a, footer p a {
    color: #F7F0F0;
    cursor: pointer;
}

div.footer-top-section figure img {
    padding: 0.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.footer-top-section form.contact-form {
    margin-left: 1rem;
}

form.contact-form fieldset {
    margin: 1rem;
    border: 3px solid #F7F0F0;
    box-shadow: 5px 5px 8px black;
    padding: 0.5rem 2%;
    background-color: #6B0504;
}

form.contact-form legend {
    color: #F7F0F0;
    margin: 0 1rem;
    padding: 0.5rem;
    font-weight: bolder;
    font-size: 1.25rem;
}

form.contact-form  label.footer-form {
    display: block;
    padding-top: 1rem;
    color: #F7F0F0;
    font-weight: bold;
    font-size: 1.25rem;
}

form.contact-form label.footer-form input, form.contact-form textarea {
    display: block;
    border: 3px solid #273654;
    padding: 0.75rem;
    width: 90%;
    max-width: 20rem;
    background-color: #F7F0F0;
}

form.contact-form input.submitButton {
    border: 3px solid #F7F0F0;
    background-color: #273654;
    color: #F7F0F0;
    font-weight: bold;
    border-radius: 1rem;
    padding: 0.8rem;
    margin: 1rem;
    margin-left: 1.5rem;
    width: 100%;
    max-width: 10rem;
}

form.contact-form label.footer-form input:required {
    border-left: solid 6px #6CA6C1;
}

form.contact-form label.footer-from input:required:valid {
    border-left: solid 6px #273654;
}

/* -----Temple Page------ */
div.temple-cards section:hover {
    box-shadow: 0 0 50px black;
}

div.temple-cards section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.temple-cards section p {
    overflow-wrap: break-word;
}

div.temple-cards section button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
    border: 3px solid #F7F0F0;
    background-color: #273654;
    color: #F7F0F0;
    font-weight: bold;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
}

div.temple-cards section button:hover {
    cursor: pointer;
}

/* ----Reservation Page---- */

form.r-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 45rem;
}

form.r-form fieldset {
    margin: 1rem;
    border: 3px solid #273654;
    box-shadow: 5px 5px 8px black;
    padding: 0.5rem 2%;
    background-color: #6B0504;
}

form.r-form legend {
    color: #F7F0F0;
    margin: 0 1rem;
    padding: 0.5rem;
    font-weight: bolder;
    font-size: 1.5rem;
}

form.r-form  label.same, form.r-form label.diff {
    display: block;
    padding-top: 1rem;
    color: #F7F0F0;
    font-weight: bold;
    font-size: 1.25rem;
}

form.r-form label.same input, form.r-form textarea, 
form.r-for label.diff input {
    display: block;
    border: 3px solid #273654;
    padding: 0.75rem;
    width: 90%;
    max-width: 22rem;
    background-color: #F7F0F0;
}

form.r-form label.diff {
    padding-left: 0.75rem;
}

form.r-form input.submitBtn {
    border: 3px solid #F7F0F0;
    background-color: #273654;
    color: #F7F0F0;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 0.8rem;
    margin: 1rem;
    margin-left: 1.5rem;
    width: 100%;
    max-width: 10rem;
}

form.r-form label.same input:required {
    border-left: solid 6px #6CA6C1;
}

form.r-form label.same input:required:valid {
    border-left: solid 6px #273654;
}

/* ---- Services Page ---- */
div.banner form#rec-btn {
    position: absolute;
    top: 0;
    left: 5px;
}

div.banner form#mis-btn {
    position: absolute;
    bottom: 0;
    left: 5px;
}

div.services-layout section ul {
    list-style-position: inside;
    color: #F7F0F0;
    padding: 0.5rem;
}

div.services-layout section ul li {
    padding: 0.5rem;
}

div.service-buttons form{
    margin-left: 2.5rem;
    padding: 0.5rem;
}

div.service-buttons form button{
    border: 3px solid #F7F0F0;
    background-color: #273654;
    color: #F7F0F0;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 100%;
    max-width: 25rem;
}

/* ---- Reception Page ---- */
/* ---- Missionary Page ---- */
div.rec-photos, div.mis-photos {
    background-color: #6B0504;
    box-shadow: 5px 5px 8px black;
    margin: 0.5em;
    border:3px solid #273654;
}

div.rec-photos figure, div.mis-photos figure {
    padding: 0.5rem;
    background-color: #273654;
    box-shadow: 5px 5px 8px black;
    margin: 0.5em;
    border:3px solid #6CA6C1;
}

div.rec-photos figure img, div.mis-photos figure img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #F7F0F0;
    box-shadow: 5px 5px 8px black;
}

div.rec-photos figure figcaption, div.mis-photos figure figcaption {
    color: #F7F0F0;
    font-size: 1.5rem;
    padding: 0.5rem;
    text-align: center;
}

div.rec-list section ul, section.mis-list ul {
    list-style-position: inside;
    color: #F7F0F0;
    padding: 0.5rem;
}

div.rec-list section ul li, section.mis-list ul li {
    padding: 0.5rem;
}

/* ---- Missionary Page ---- */

form.r-form input#misBtn {
    max-width: 15rem;
    margin: 0.25rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}