/* ----Fonts----*/
/* 
font-family: 'Raleway', 'Tahoma', sans-serif; HEADINGS
font-family: 'Karla', 'Arial', sans-serif; PARAGRAPH
*/

/*-----Colors-----*/
/* 
Space Cadet (darkBlue): #273654
Snow (white): #F7F0F0
Air Superiority Blue (lightBlue): #6CA6C1
Blood Red (darkRed): #6B0504
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    background-color: #6CA6C1;
    font-family: 'Karla', 'Arial', sans-serif;
}

header, footer {
    background-color: #273654;
}

/* ----Header---- */
header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header figure img{
    width: 100%;
    max-width: 150px;
    padding: 0.5rem;
}

div.social {
    padding: 0.5rem;
}

div.social a img {
    height: 50px;
}

nav {
    background-color: #6B0504;
    text-align: center;
    font-weight: bold;
    max-width: 500px;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    color: #F7F0F0;
    display: block;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.5em;
}

nav ul li a:visited {
    color:#6CA6C1;
}

nav ul li a:hover {
    background-color: #273654;
    color: #F7F0F0;
    cursor: pointer;
}

nav ul li a:active {
    color: #F7F0F0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

/* ----Main---- */
h1, h2, h3 {
    font-family: 'Raleway', 'Tahoma', sans-serif;
    color: #F7F0F0;
    padding: 0.5em;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #273654;
}

h2 {
    font-size: 2em;
    color: #273654;
}

h3 {
    font-size: 1.5em;
}

p {
    color: #F7F0F0;
    padding: 0.25rem;
    text-align: center;
}

/* ----Footer----- */
div.footer-top-section div p a, footer p a {
    color: #F7F0F0;
    cursor: pointer;
}

div.footer-top-section figure img {
    padding: 0.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.footer-top-section form.contact-form {
    margin-left: 1rem;
}

form.contact-form fieldset {
    margin: 1rem;
    border: 3px solid #F7F0F0;
    box-shadow: 5px 5px 8px black;
    padding: 0.5rem 2%;
    background-color: #6B0504;
    max-width: 25rem;
}

form.contact-form legend {
    color: #F7F0F0;
    margin: 0 1rem;
    padding: 0.5rem;
    font-weight: bolder;
}

form.contact-form  label.footer-form {
    display: block;
    padding-top: 1rem;
    color: #F7F0F0;
    font-weight: bold;
    font-size: 1.25rem;
}

form.contact-form label.footer-form input, form.contact-form textarea {
    display: block;
    font-size: 1rem;
    border: 3px solid #273654;
    padding: 0.75rem;
    width: 90%;
    max-width: 20rem;
    background-color: #F7F0F0;
}

form.contact-form input.submitButton {
    border: 3px solid #F7F0F0;
    background-color: #273654;
    color: #F7F0F0;
    font-weight: bold;
    border-radius: 1rem;
    padding: 0.8rem;
    margin: 1rem;
    margin-left: 1.5rem;
    width: 100%;
    max-width: 10rem;
}

form.contact-form label.footer-form input:required {
    border-left: solid 6px #6CA6C1;
}

form.contact-form label.footer-from input:required:valid {
    border-left: solid 6px #273654;
}

