@media screen and (min-width: 60em) {
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }

    .navigation a {
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }

    div.header-top-section {
        position: unset;
    }

    nav {
        position: unset;
    }

    div.banner picture img {
        width: 100%;
        max-width: 1380px;
    }

    section.forcast {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    div.home-layout {
        grid-gap: 2rem;
    }

    div.home-layout section:nth-child(1) {
        grid-area: 1 / 2 / 3 / 3;
    }

    div.home-layout section:nth-child(2) {
        grid-area: 1 / 1 / 2 / 2;
    }

    div.home-layout section:nth-child(3) {
        grid-area: 2 / 1 / 3 / 2;
    }

    section.resizing {
        max-width: 32rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* ---- Reservation Page ---- */
    form.r-form label.same input, form.r-form textarea, 
    form.r-for label.diff input {
    max-width: 38rem;
    }

    /* ---- Services Page ---- */
    div.banner form {
        bottom: 20px;
        right: 150px;
    }

    div.banner form#rec-btn {
        top: 20px;
        left: 650px;
    }
    
    div.banner form#mis-btn {
        bottom: 20px;
        left: 150px;
    }
}