@media screen and (min-width: 32.5em) {
    div.footer-top-section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    div.banner picture img {
        width: 100%;
        max-width: 960px;
    }

    /* ---- Temple Page ---- */
    div.temple-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

}