@media screen and (min-width: 70em) {
    .navigation li {
        display: block;
    }

    header nav ul.navigation {
        display: flex;
    }

    header nav ul li {
        flex: 1 1 auto;
    }

    .navigation li:first-child {
        display: none;
    }

    .subheader {
        position: unset;
    }

    nav {
        position: unset;
    }

    .social {
        order: 1;
        margin-right: 10px;
    }

    .social img {
        width: 3rem;
        height: 3rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1rem;
    }

    .date {
        font-size: larger;
    }

    .logo-img {
        width: 5rem;
    }

    #homegrid {
        grid-template-columns: repeat(7, 1fr);
    }

    .event {
        grid-area: 1 / 1 / 2 / 3;
    }

    .weather {
        grid-area: 2 / 1 / 3 / 3;
    }

    .join {
        grid-area: 3 / 1 / 4 / 3;
    }

    .hero {
        grid-area: 1 / 3 / 3 / 6;
        height: auto;
    }

    #hero-picture {
        height: 650px;
    }

    .news {
        grid-area: 3 / 3 / 4 / 6;
    }

    .spotlight-holder {
        grid-area: 1 / 6 / 4 / 8;
        flex-direction: column;
    }

    .spotlight {
        width: 95%;
    }

    .footer-logo, .address, .the-rest {
        font-size: x-large;
    }

    .footer-logo > img {
        width: 7rem;
    }

    .base-footer {
        font-size: larger;
    }

    /* Discover Page */
    #grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* Join Page */
    main div.joinFlex {
        display: flex;
        flex-direction: row;
    }

    form fieldset {
        margin: 1rem;
    }

    form input.submitButton {
        margin-left: 7rem;
    }

    table {
        margin: 2rem;
    }

    /* Directory Page */

}