@media screen and (min-width: 32.5em) {
    h1 {
        font-size: 1.7rem;
    }

    h2 {
        font-size: 1rem;
    }

    .logo-img {
        width: 5rem;
    }

    nav {
        height: 4rem;
    }

    nav ul {
        background-color: #519872;
    }

    .social {
        margin-right: 140px;
    }
    
    #homegrid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .hero {
        grid-area: 1 / 1 / 2 / 6;
    }

    .news {
        grid-area: 2 / 1 / 3 /65;
    }

    .spotlight-holder {
        grid-area: 3 / 1 / 4 / 6;
        flex-direction: row;
    }

    .spotlight {
        width: 100%;
        margin: 0.2rem;
    }

    .join {
        display: block;
        grid-area: 4 / 1 / 5 / 6;
        background-color: #BEC5AD;
    }

    .join button {
        background-color: #519872;
        font-weight: bold;
        font-size: 20px;
        padding: 1rem;
        border-radius: 10px 10px 10px 10px;
        width: 100%;
    }

    .join > p {
        color: #34252F;
        font-weight: bold;
        padding-top: 2rem;
    }

    .event {
        grid-area: 5 / 1 / 6 / 4;
    }

    .event h3 {
        margin-top: 2rem;
    }

    .weather {
        grid-area: 5 / 4 / 6 / 6;
    }

    .top-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .footer-logo, .address, .the-rest {
        padding: 0.8rem;
        font-size: larger;
    }

    .address > p {
        text-align: left;
    }

    .the-rest > p {
        padding: 0;
    }

    /* Discover Page */
    main .effect:hover {
        box-shadow: 0 0 50px #333;
    } 

    #grid {
        justify-items: center;
    }
    
    /* Join Page */
    form fieldset {
        margin-left: auto;
        margin-right: auto;
    }

    form input.submitButton {
        margin-left: 18rem;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }

    table caption{
        font-size: 2rem;
    }

    thead {
        font-size: 1.5rem;
    }

    td, th {
        font-size: 1rem;
    }

    /* Directory Page */

    div#cards {
        max-width: 60%;
        margin: 0 auto;
    }
    
    div#list section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        align-items: center;
        padding: 2rem;
    }
}