/* ----Fonts----*/
/* 
font-family: 'Raleway', 'Tahoma', sans-serif; HEADINGS
font-family: 'Red Hat Mono', 'Courier New', monospace; PARAGRAPH
*/

/*-----Colors-----*/
/* 
Space Cadet (darkBlue): #273654
Snow (white): #F7F0F0
Air Superiority Blue (lightBlue): #6CA6C1
Blood Red (darkRed): #6B0504
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    background-color: #6CA6C1;
    font-family: 'Red Hat Mono', 'Courier New', monospace;
}

header, footer {
    background-color: #273654;
}

nav {
    background-color: #6B0504;
    text-align: center;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    color: #F7F0F0;
    display: block;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.5em;
}

nav ul li a:visited {
    color:#6CA6C1;
}

nav ul li a:hover {
    background-color: #273654;
    color: #F7F0F0;
    cursor: pointer;
}

nav ul li a:active {
    color: #F7F0F0;
}

h1, h2, h3 {
    font-family: 'Raleway', 'Tahoma', sans-serif;
    color: #F7F0F0;
    padding: 0.5em;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    color: #273654;
}

h3 {
    font-size: 1.5em;
}

p {
    color: #F7F0F0;
    padding: 0.5em;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
}

img.logo-img {
    background-color: #6CA6C1;
}

img.sitemap {
    width: 100%;
    max-width: 320px;
}

section {
    background-color: #6B0504;
    box-shadow: 5px 5px 8px black;
    margin: 0.5em;
    border:3px solid #273654;
    
}

/* TARGET AUDIENCE PAGE */

main section ul {
    list-style-position: inside;
    text-align: center;
}
main section ul li {
    color: #F7F0F0;
    text-align: center;
    padding:0.5em;
}

/* COLOR SCHEME PAGE */

table {
    text-align: center;
    border-collapse: collapse;
    border: 3px solid #273654;
    letter-spacing: 1px;
    font-size: 1.1em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 8px black;
    font-weight: bold;
    padding: 0.5em;
}

caption {
    font-weight: bolder;
    color: black;
    font-size: 1.25em;
}

th, td {
    border: 3px solid #273654;
    padding: 0.5em;
}

th {
    background-color: white;
    color: #273654;
}

tbody td:nth-child(1) {
    background-color: #273654;
    color: #F7F0F0;
}

tbody td:nth-child(2) {
    background-color: #6B0504;
    color: #F7F0F0;
}

tbody td:nth-child(3) {
    background-color: #F7F0F0;
}

section nav ul li a {
    border: 3px solid #273654;
}

section h2 {
    background-color: #6CA6C1;
}


